@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --white-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
  }

  * {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

  }

  body {
    background-color: var(--very-dark-blue);
    color: var(--white-blue);
    font-size: 14px;
    margin: 0;
  }

  .container {
    background: url(img/bg-desktop.png) no-repeat bottom;
    background-size: contain;
    display: grid;
    align-items: center;
    grid-template-rows: minmax(250px, 1fr) 120px;
    height: 100vh;
    justify-content: stretch;
    justify-items: center;
    padding: 24px;
    width: 100%;
  }

  .main__card {
    display: grid;
    gap: 24px;
    justify-content: stretch;
    align-items: end;
    max-width: 960px;
    grid-template-columns: 1fr 1.5fr;
  }

  .section__nav {
    background-color: var(--dark-blue);
    border-radius: 8px 80px 8px 8px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    justify-content: stretch;
    width: fit-content;
    padding: 15px 55px 15px 15px;
  }


.title__nav {
    color: var(--white-blue);
    font-weight: 600;
    font-size: 35px;
    text-align: center;
}

.nav__bar {
    display: flex;
    gap: 12px;
}

.nav__button {
    background-color: var(--very-dark-blue);
    border-radius: 6px;
    box-shadow: none;
    border: none;
    height: 48px;
    width: 48px;
    padding: 12px;
  
}

.component__gb {
    display: flex;
    flex-direction: column;
}

.details__component__gb {
    background-color: var(--dark-blue);
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 125px;
    padding: 24px;
    width: 100%;
}

.details__gb__component {
    display: flex;
    justify-content: space-between;
}

.indicator__storage__container {
  background-color: var(--very-dark-blue);
  border-radius: 20px;
  height: 20px;
  margin: 12px 0;
}

.indicator__storage {
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    height: 16px;
    margin: 2px;
    width: 81.5%;
    left: 2px;
    top: 50%;

}

.indicato__point {
  background: var(--white-blue);
  border-radius: 20px;
  height: 14px;
  margin: 1px;
  width: 14px;
}

.details__gb {
    align-items: center;
  background: var(--white-blue);
  border-radius: 4px;
  color: var(--very-dark-blue);
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  padding: 18px;
  position: relative;
  max-width: 175px;
  align-self: flex-end;
  right: 24px;
  top: 24px;
}

.details__gb span {
    font-size: 24px;
    font-weight: bold;
}

.details__gb:before{
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--white-blue);
  border-top: 10px solid var(--white-blue);
  content: "";
  position: absolute;
  right: 0px;
  top: 63px;
}

@media screen and (max-width: 650px) {
  .main__card {
    align-items: stretch;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .container {
    background: url("./img/bg-mobile.png") no-repeat;
    background-size: cover;
    justify-items: stretch;
  }

  .component__gb {
    position: relative; 
    flex-direction: column-reverse;
  }

  .details__gb {
    position: relative;
    top: 16px;
    right: 24px;
  }
}